body {
  padding-bottom: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  line-height:120%;
}

a {
  color: #00B7FF;
}

td {
word-wrap: break-word;
/*width: "39";*/
}
.choice{font-family: Arial,sans-serif;font:white;}
.choice:hover {
background-color: #7900C2;
transition: color 0.25s ease,background-color 0.25s ease;
}
.navbar-nav {
color:white;
}
.navbar {
background-color: #000;
}
.navbar-inverse {
background-image:none;
color: white;
}

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */


/*
 * Global add-ons
 */

.glossary {
  border-bottom: 1px #50007F dotted;
  color: #50007F;
}



.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}


/*
 * Main content
 */

.main {
  padding: 20px;
  margin-left:15%;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}



.jumbotron p {
line-height: 120%;
font-size: 14px !important;
}

table {
  border: 0;
  padding: 2px;
  border-collapse: collapse; border-spacing: 0;
  width: 50%;

}

.td-left {
  width: 39px;
}

td {
  text-align: center;
}

td * {
  text-align: center;
}

.tr-first {
  background-color: #DDA0DD;
}
.tr-second {
  background-color:  #DA70D6;

}
.tr-third {
  background-color: #EE82EE;
}
.tr-fourth {
  background-color: #BA55D3;
}


.tdText {
  height: 20px;
  color: black;
  font-weight: 600 !important;
  font-size: 16px !important;
  margin: 15px auto;

}
